@media screen and (min-width: 1921px) {
  
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {

}

@media screen and (min-width: 769px) and (max-width: 1440px) {

}


@media screen and (min-width: 0px) and (max-width: 768px) {
    .about {
        top: 0.5vw;
        left: 0.5vw;
        font-size: 5vw;
    }
    
    .about_us {
        top: 12vw;
        left: 7vw;
        font-size: 4vw;
    }
    
    .photo {
        position: relative;
        width: 60vw;
        top: 25vw;
        left: 35vw;
    }
    
}
